@import "../../variable.scss";
.mat-drawer-content {
	height: calc(100vh - #{$stickyHeaderHeight});
	@media screen and (max-width: $maxMobileWidth) {
		height: calc(100vh - #{$mobileStickyHeaderHeight});
	}
	.my-profile {
		border-radius: 0;
		.mat-list-base {
			padding: 0;
			.mat-list-item-with-avatar {
				height: inherit;
			}
		}
	}
	mat-sidenav {
		min-width: 300px;
		max-width: 500px;
	}
}
.left-side-nav-menu {
	.helper-text {
		padding-left: 16px;
	}
}