<div mat-dialog-title>
	<mat-toolbar color="primary" class="header">
		<mat-toolbar-row>
			<span (click)="closeDialog(data?.id)">
				<mat-icon>arrow_back_vert</mat-icon>
			</span>
			<span class="fill-remaining-space"></span>
			<mat-icon class="action-icon">home_vert</mat-icon>
			<mat-icon class="action-icon">help_vert</mat-icon>
		</mat-toolbar-row>
	</mat-toolbar>
</div>
<div mat-dialog-content class="container-with-sticky-header">
	<pre>
    {{data?.note?.text}}
    {{data?.note?.text}}
    {{data?.note?.text}}
    {{data?.note?.text}}
    {{data?.note?.text}}
    {{data?.note?.text}}{{data?.note?.text}}
    {{data?.note?.text}}{{data?.note?.text}}
    {{data?.note?.text}}{{data?.note?.text}}
    {{data?.note?.text}}
  
    {{data?.note?.text}}
    {{data?.note?.text}}
    {{data?.note?.text}}
    {{data?.note?.text}}{{data?.note?.text}}{{data?.note?.text}}{{data?.note?.text}}
  
    {{data?.note?.text}}{{data?.note?.text}}{{data?.note?.text}}
    {{data?.note?.text}}{{data?.note?.text}}{{data?.note?.text}}{{data?.note?.text}}
    Vishal
  </pre>
</div>
<div mat-dialog-actions>
	<span>Edited on 04:26 AM</span>
</div>