@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variable.scss";
body {
	margin: 0 auto;
}
.primary {
	background-color: #3f51b5;
	color: #fff;
}
mat-icon {
	vertical-align: middle;
	cursor: pointer;
}
.header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
}
.container-with-sticky-header {
	margin-top: $stickyHeaderHeight !important;
	@media screen and (max-width: $maxMobileWidth) {
		margin-top: $mobileStickyHeaderHeight !important;
	}
}
@mixin column($nos, $pading) {
	$singleColumn: (100% / #{$nos});
	$finalWidth: calc(#{$singleColumn} - (#{$pading} * 2));
	flex: #{$finalWidth};
	max-width: #{$finalWidth};
	width: #{$finalWidth};
}
// START NOTES 
.notes, .cdk-drag-preview {
	$note_padding_right_left: 4px;
	max-width: 1920px;
	margin: 0 auto;
	.row {
		display: flex;
		flex-wrap: wrap;
		padding: 0 4px;
	}
	.column .note {
		margin-top: 8px;
		vertical-align: middle;
		background-color: #fff;
		border: solid transparent;
		border-radius: 4px;
	}
	.column {
		@include column(1, $note_padding_right_left);
		padding: 0 $note_padding_right_left;
	}
	.column:first-child:nth-last-child(1){
		@include column(1, $note_padding_right_left);
	}
	.column:first-child:nth-last-child(2),
	.column:first-child:nth-last-child(2) ~ .column {
		@include column(2, $note_padding_right_left);
	}
	.column:first-child:nth-last-child(3),
	.column:first-child:nth-last-child(3) ~ .column {
		@include column(3, $note_padding_right_left);
	}
	.column:first-child:nth-last-child(4),
	.column:first-child:nth-last-child(4) ~ .column {
		@include column(4, $note_padding_right_left);
	}
	.column:first-child:nth-last-child(5),
	.column:first-child:nth-last-child(5) ~ .column {
		@include column(5, $note_padding_right_left);
	}
	.column:first-child:nth-last-child(6),
	.column:first-child:nth-last-child(6) ~ .column {
		@include column(6, $note_padding_right_left);
	}
	.note-inner {
		padding: 15px 10px;
		background-color: #fff;
		min-height: 1em;
		border-radius: 4px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
		transition: box-shadow 0.2s;
	}
	.note:hover .note-inner {
		box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.3);
	}
	pre {
		font-family: initial;
		margin: inherit;
		white-space: pre-wrap;       /* Since CSS 2.1 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
	.press {
		border: solid #dedede !important;
	}
	.longpress {
		border: solid red !important;
	}
}
// END NOTES
// START DRAG AND DROP
.cdk-drag-preview {
	opacity: 0.9;
}
.cdk-drag-placeholder {
	opacity: 0.5;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
// END DRAG AND DROP
// START EDIT NOTE DILOIG
.edit-note-dialog {
	.mat-dialog-title {
		margin: 0 auto;
		.action-icon {
			padding: 0 14px;
		}
	}
	.mat-dialog-container {
		border-radius: 0;
		padding: 0;
	}
	.mat-dialog-content {
		margin: auto;
	}
	.mat-dialog-actions {
		display: block;
		text-align: center;
		margin: 0 auto;
		height: auto;
		min-height: auto;
		box-shadow:0 -3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
	}
	.mat-dialog-content {
		// total - (header + footer)
		min-height: calc(100vh - (#{$stickyHeaderHeight} + #{$noteEditDialogFooterHeight}));
		overflow-y: auto;
		overflow-x: hidden;
		.noteTextArea {
			width: calc(100% - 42px);
			// total - (header + footer + pre border)
			min-height: calc(100vh - (#{$stickyHeaderHeight} + #{$noteEditDialogFooterHeight} + 42px));
			background: #fff;
			border: solid 1px #dedede;
			margin: 5px;
			padding: 15px;
			overflow: auto;
			resize: none; /*remove the resize handle on the bottom right*/
			outline-offset: 0;
			outline: none;
			vertical-align: top;
			white-space: pre-wrap;       /* Since CSS 2.1 */
			white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
			white-space: -pre-wrap;      /* Opera 4-6 */
			white-space: -o-pre-wrap;    /* Opera 7 */
			word-wrap: break-word;       /* Internet Explorer 5.5+ */
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			font-family: initial;
			font-size: initial;
		}
		@media screen and (max-width: $maxMobileWidth) {
			.noteTextArea {
				// total - (header + footer + pre border)
				min-height: calc(100vh - (#{$mobileStickyHeaderHeight} + #{$noteEditDialogFooterHeight} + 42px));
			}
		}
	}
	@media screen and (max-width: $maxMobileWidth) {
		.mat-dialog-content {
			// total - (header + footer)
			min-height: calc(100vh - (#{$mobileStickyHeaderHeight} + #{$noteEditDialogFooterHeight}));
		}	
	}
}
// END EDIT NOTE DILOIG